<div class="container-fluid">
    
    <figure>
        <!-- <img src="../../assets/images/iso-iphone-xs - mod.jpg" class="img-fluid big-image"/> -->
        <img src="assets/images/iso-iphone-xs - mod.jpg" class="img-fluid big-image"/>
    </figure>
    <hr>
    <h1 class="red">Phone Models</h1>
    <div class="phone-cards">
        <div class="one-card" *ngFor="let product of products; index as productId">
              <figure>
                  <img class="card-img-top" [src]="product.imgUrl" alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;" data-holder-rendered="true">
                </figure>
              <div class="card-body">
                  <h3 class="red"><a [routerLink]="['/products', productId]">{{ product.name }}</a></h3>
                  <p>£{{ product.price }}.00</p>
                <p class="card-text"  *ngIf="product.short_description" [routerLink]="['/products', productId]">{{ product.short_description }}<a [routerLink]="['/products', productId]"> more</a></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="icons">
                    <button class="btn btn-primary btn-sm mr-2" (click)="share()">
                        <fa-icon [icon]="faFacebookF"></fa-icon>
                      </button>
                      <button class="btn btn-primary btn-sm mr-2" (click)="share()">
                       <fa-icon [icon]="faTwitterSquare"></fa-icon>
                      </button>
                        <button class="btn btn-primary btn-sm" (click)="share()">
                       <fa-icon [icon]="faInstagram"></fa-icon>
                      </button>
                    
                       <button class="btn btn-info ml-5 " (click)="addToCart(product)" >
                       Buy Now
                      </button>
                  </div>
                </div>
              </div>
        
        </div>
    </div>
</div>

    